/* laptop device */

/* header section  */
@media (max-width: 1024px) {
  #heading-section {
    padding: 15px;
  }
  .header{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px;
  }
  .hero-heading h1{
    font-size: 3rem;
    /* width: 85%; */
  }
}
/* flower section  */
.flower-box{
    flex-wrap: wrap;
}
/* delivery section  */
.delivary-contenar{
    gap: 20px;
}
.bg-color{
    padding: 30px;
}

/* offer section  */
.conterner{
   
    gap: 30px;
    padding: 0 10px;
}
.head h2{
    font-size: 2.2rem;

}
#section{
    margin: 30px 80px;
}


/* tablet device */
@media (max-width: 768px) {
  #heading-section {
    padding: 10px;
  }
  /* header section  */
  .header{
    margin: 20px;
    padding-top: 30px;
}
#section{
    margin: 30px 80px;
}

/* delivery section  */
.delivary-contenar{
    flex-direction: column;
    padding-bottom: 50px;
}
/* offer section  */
.conterner{
   
    flex-direction: column;
    padding: 50px 30px;
}

/* instragram section  */
.card{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 24px;
}
input{
    width: 80%;
    margin-bottom: 20px;
}
}



/* mobile device */
@media (max-width: 480px) {
  #heading-section {
    padding: 5px;
  }
  .heading h2{
    font-size: 2rem;
  }
  /* delivery section  */
  #section{
    margin: 30px 0px;
}
}
