/* laptop device */

/* header section  */
@media (max-width: 1024px) {
  #heading-section {
    padding: 15px;
  }
  .header{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px;
  }
  .hero-heading h1{
    font-size: 3rem;
    /* width: 85%; */
  }
}
/* flower section  */
.flower-box{
    flex-wrap: wrap;
}
/* delivery section  */
.delivary-contenar{
    gap: 20px;
}
.bg-color{
    padding: 30px;
}

/* offer section  */
.conterner{
    
    flex-direction: column;
    padding: 60px 30px;
    gap: 30px;
}


/* tablet device */
@media (max-width: 768px) {
  #heading-section {
    padding: 10px;
  }
  /* header section  */
  .header{
    margin: 20px;
    padding-top: 30px;
}
#section{
    margin: 30px 80px;
}
}
/* delivery section  */
.delivary-contenar{
    flex-direction: column;
    padding-bottom: 50px;
}


/* mobile device */
@media (max-width: 480px) {
  #heading-section {
    padding: 5px;
  }
  .heading h2{
    font-size: 2rem;
  }
  /* delivery section  */
  #section{
    margin: 30px 0px;
}
}
