/* laptop device */

/* header section  */
@media (max-width: 1024px) {
  #heading-section {
    padding: 15px;
  }
  .header{
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px;
  }
  .hero-heading h1{
    font-size: 3rem;
    /* width: 85%; */
  }
}


/* tablet device */
@media (max-width: 768px) {
  #heading-section {
    padding: 10px;
  }
  /* header section  */
  .header{
    margin: 20px;
    padding-top: 30px;
}
}

@media (max-width: 480px) {
  #heading-section {
    padding: 5px;
  }
}
