*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
/* common class */
.btn{
    padding: 20px 40px;
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
    
}

#heading-section{
    background-color: rgba(167, 33, 98, 0.1);
    max-width: 1440px;  
  
}
.header{
    display: flex;
    justify-content: space-between;
    gap: 95px;
    margin: 0 120px;
    padding-top: 30px;
}

.hero-heading h1{
    font-size: 3.5rem;
    font-weight: 700px;
    width: 80%;
   

}
.hero-heading p{
    font-size: 1.2rem;
    line-height: 30px;
    margin-top: 30px;
    color: #272727;
    margin-bottom: 30px;
}
.hero-img img{
    height: 100%;
}


/* flower section  */
#section{
    margin: 100px 120px;
}
.heading{
    text-align: center;
    padding-bottom: 30px;
   
}
.heading h2{
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 30px;
    /* text-align: center; */
}
.heading p{
    font-size: 1.2rem;
    line-height: 30px;
    color: #272727;
    /* width: 590px; */
    margin: 0 auto;
}
.flower-box{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.box-1 img{
    /* height: 400px; */
    background-color: rgba(167, 33, 98, 0.1);
    border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 text-align: center;
    width: 300px;
    padding: 100px 60px 0px 60px;
}
.box-2 img{
    height: 350px;
    width: 300px;
    padding: 90px 60px 30px 60px;
    background-color: rgba(4, 103, 93, 0.1);
    border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 text-align: center;
}
.box-3 img{
    height: 345px;
    width: 300px;
    padding: 90px 60px 0px 60px;
    background-color: rgba(9, 4, 111, 0.1);
    border-top-left-radius: 50%;
 border-top-right-radius: 50%;
 text-align: center;
}

/* delivery section  */
.bg-color{
    background-color: rgba(138, 9, 71, 0.1);
    padding: 80px;
}
.delivary-contenar{
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    gap: 80px;      
}


